.headersection, .footersection{background: #0b3c5d none repeat scroll 0 0;}
.icon a{background: #1f6f8b none repeat scroll 0 0;}
.searchbtn input[type="text"]{background: #cfe9f3 none repeat scroll 0 0; border:1px solid #0b3c5d;}
.searchbtn input[type="submit"]{border: 1px solid #1f6f8b;}
.searchbtn input[type="submit"]:hover {background: #082f45 none repeat scroll 0 0; border:1px solid #cfe9f3;}
input[type="submit"]{background: #082f45 none repeat scroll 0 0; border:1px solid #cfe9f3;}
.navsection{background: #1f6f8b none repeat scroll 0 0; }
.navsection ul li{border-left: 1px solid #0b3c5d; border-right: 1px solid #4aa3c0;}
.samepost h2 a{color: #0b3c5d;}
.maincontent, .sidebar{background: #eef7fb none repeat scroll 0 0;}
.samepost img{border: 1px solid #1f6f8b;}
.contentsection {border: 1px solid #1f6f8b;}
.samesidebar h2{background: #1f6f8b none repeat scroll 0 0; border-bottom: 2px solid #0b3c5d; color: #fff;}
.readmore a{border: 1px solid #1f6f8b; color: #1f6f8b;}
.readmore a:hover{color: #0b3c5d;}
.pagination a{background: #1f6f8b none repeat scroll 0 0; border: 1px solid #0b3c5d; color: #fff;}
.pagination a:hover{background: #0b3c5d none repeat scroll 0 0; border: 1px solid #1f6f8b; color: #fff;}
.footermenu ul li a{color: #1f6f8b;}
.samepost h2, .about h2{color: #0b3c5d;}
.about img{border: 1px solid #0b3c5d;}
.relatedpost h2{background: #1f6f8b none repeat scroll 0 0; border-bottom: 2px solid #0b3c5d !important;}
