.headersection, .footersection{background: #8b0000 none repeat scroll 0 0;}
.icon a{background: #b22222 none repeat scroll 0 0;}
.searchbtn input[type="text"]{background: #f5b7b1 none repeat scroll 0 0; border:1px solid #8b0000;}
.searchbtn input[type="submit"]{border: 1px solid #b22222;}
.searchbtn input[type="submit"]:hover {background: #7b241c none repeat scroll 0 0; border:1px solid #f5b7b1;}
input[type="submit"]{background: #7b241c none repeat scroll 0 0; border:1px solid #f5b7b1;}
.navsection{background: #c0392b none repeat scroll 0 0; }
.navsection ul li{border-left: 1px solid #8b0000; border-right: 1px solid #e74c3c;}
.samepost h2 a{color: #8b0000;}
.maincontent, .sidebar{background: #fdecea none repeat scroll 0 0;}
.samepost img{border: 1px solid #c0392b;}
.contentsection {border: 1px solid #c0392b;}
.samesidebar h2{background: #c0392b none repeat scroll 0 0; border-bottom: 2px solid #8b0000; color: #fff;}
.readmore a{border: 1px solid #c0392b; color: #c0392b;}
.readmore a:hover{color: #8b0000;}
.pagination a{background: #c0392b none repeat scroll 0 0; border: 1px solid #8b0000; color: #fff;}
.pagination a:hover{background: #8b0000 none repeat scroll 0 0; border: 1px solid #c0392b; color: #fff;}
.footermenu ul li a{color: #c0392b;}
.samepost h2, .about h2{color: #8b0000;}
.about img{border: 1px solid #8b0000;}
.relatedpost h2{background: #c0392b none repeat scroll 0 0; border-bottom: 2px solid #8b0000 !important;}

